/*Admin*/
.admin{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: start;
    

}
.admin .left{
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 20px 0;
    margin-top: 50px;
    background-color: azure;

}
.left .column{
    display: flex;
    gap: 20px;
    justify-content: start;
    width: 100%;
    padding-left: 20px;
    cursor: pointer;
}
.column span{
    font-size: 20px;
    font-weight: 500;
}
.admin .right{
    flex: 4;
    width: 70%;
    height: 100%;
    padding:20px ;
}
.add-column{
    display: flex;
    width: 200px;
    padding: 5px 15px;
    border-radius: 10px;
    gap: 20px;
    justify-content: start;
    background-color: rgb(255, 159, 159);
}

/*Order*/
.orders-page{
    height: 100%;
    width: 100%;
    padding: 20px;

}
.new-order{
    width: 90%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
.details-sec{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}
.user-order{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    /* height: 100px; */
    width: 100%;
    /* justify-content: space-between;
    align-items: start; */
}
.order-item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: start;
}
.item-type-png{
    height: 13px;
    width: 13px;
    margin-right: 5px;
}
.btn-sec{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.accept{
    padding:10px 20px;
    font-size: 18px;
    color: white;
    background-color: rgb(40, 108, 20);
    font-weight: 500;
    border-radius: 5px;
    border: none;
    outline: none;
}
.cancel{
    padding:10px 20px;
    font-size: 18px;
    background-color: rgb(181, 37, 37);
    color: white;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    outline: none;
}
.all-order-sec{
    display: flex;
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
    gap: 20px;
}
.acc-ord-box{
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
}


/*edit menu*/
.editmenu{
    height: 100vh;
    width: 100%;
    padding: 10px;
    position: relative;
}
.addnew{
    width: 100%;
    display: flex;
    justify-content: start;
}
.addnew button{
    outline: none;
    background-color: blue;
    border: none;
    color: white;
    padding: 5px;
    font-weight: 500;
    margin: 10px 0;
}
.item-box{
    height: 100px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
}
.box-img img{
    height:80px;
    width: 80px;
    margin-left: 10px;
}
.box-detail{
    display: flex;
    flex-direction: column;
}
.box-btn{
    display: flex;
    margin-right: 10px;
}
.box-btn .edit{
    padding: 10px;
    background-color: white;
}
.box-btn .delete{
    padding: 10px;
    background-color: rgb(255, 113, 113);
}

/*Form*/
.form{
    width: 400px;
    background-color: white;
    position: absolute;
    top: 15%;
    left: 40%;
    border-radius: 5px;
    box-shadow: 0.2px 0.9px 4px rgb(190, 190, 190);
    padding: 10px;
    z-index: 20;
    /* display: flex;
    flex-direction: column; */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Optional: Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 10; */
  }
textarea{
    border: none;
}
.all-elements{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.form-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.form-input{
    height: 40px;
    padding:0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 3px;
}
.save{
    padding:10px 20px;
    font-size: 18px;
    background-color: rgb(14, 144, 31);
    color: white;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    outline: none;
}


/*Analytics*/
.analytics{
    height: 100%;
    width: 100%;
    padding: 10px;
}
.content-box{
    display: flex;
    gap: 10px;
}


@media only screen and (max-width:941px) {
    .form{
        left: 25%;
        width: 80%;

    }
}

@media only screen and (max-width:941px) {
    .form{
        left: 5%;
        width: 80%;

    }
}